<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/opravy/reportes" routerDirection="backward"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="titulo"></ion-input>
  </ion-item>

  <ion-textarea [(ngModel)]="contenido" autoGrow="true" spellcheck="true" wrap="soft" class="note-content"
    placeholder="Describe el problema">
  </ion-textarea>

  <ion-item>
    <ion-label position="stacked">Prioridad</ion-label>
    <ion-range min="1" max="5" step="1">
      <ion-icon size="small" slot="start" name="arrow-round-down"></ion-icon>
      <ion-icon slot="end" name="arrow-round-up"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Archivos</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="nes">NES</ion-select-option>
      <ion-select-option value="n64">Nintendo64</ion-select-option>
      <ion-select-option value="ps">PlayStation</ion-select-option>
      <ion-select-option value="genesis">Sega Genesis</ion-select-option>
      <ion-select-option value="saturn">Sega Saturn</ion-select-option>
      <ion-select-option value="snes">SNES</ion-select-option>
    </ion-select>
  </ion-item>

  <div id="mapid"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>