<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/opravy/reportes" routerDirection="backward"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="report.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="report.description" autoGrow="true" spellcheck="true" wrap="soft" class="note-content">
    </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Prioridad</ion-label>
    <ion-range min="1" max="5" step="1" color="danger" [(ngModel)]="report.priority">
      <ion-icon size="small" slot="start" name="arrow-round-down"></ion-icon>
      <ion-icon slot="end" name="arrow-round-up"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Archivos</ion-label>
    <ion-input type="hidden" [(ngModel)]="report.image"></ion-input>
    <img [src]="report.image">
  </ion-item>
  <ion-button color="primary" expand="full" (click)="selectImage()"><ion-icon name="image" slot="start"></ion-icon>Seleccionar imagen</ion-button>

  <div id="mapid"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>