<ion-header>
  <ion-toolbar>
    <ion-title>
      Reportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!reports || reports.length == 0">
    <div *ngFor="let i of [0, 1, 2]" padding>
      <ion-card>
        <ion-card-header>
          <ion-skeleton-text></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>

  <ion-card *ngFor="let report of reports">
    <img [src]="report.image" />
    <ion-card-header>
      <ion-card-title>{{report.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{report.description}}
    </ion-card-content>

    <ion-chip *ngFor="let label of report.labels" color="{{label.color}}">
      <ion-icon name="{{label.icon}}" color="{{label.color}}"></ion-icon>
      <ion-label>{{label.label}}</ion-label>
    </ion-chip>

    <ion-item>
      <ion-chip *ngIf="report.priority <= 2" color="success">
        <ion-icon name="bonfire" color="success"></ion-icon>
        <ion-label>{{report.priority}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="report.priority == 3" color="warning">
        <ion-icon name="bonfire" color="warning"></ion-icon>
        <ion-label>{{report.priority}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="report.priority >= 4" color="danger">
        <ion-icon name="bonfire" color="danger"></ion-icon>
        <ion-label>{{report.priority}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-report" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>