<ion-header>
  <ion-toolbar>
    <ion-title>
      Vista General
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable>
    <ion-segment-button checked>
      <ion-label>Mi Zona</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Municipio</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Departamento</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Nacional</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-card-header>
      Reportes por categorías
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Reciclajes por materiales
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>


</ion-content>